<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cutesource="http://www.hs.com/schema/people01"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd

       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd   http://www.hs.com/schema/people01 http://www.hs.com/schema/people.xsd">

    <context:property-placeholder location="classpath:application.properties"/>


    <!--自定义标签 -->
    <cutesource:people-key id="cutesource" name="海参" age="27"/>

    <bean id="myFactoryBean" class="com.demo.spring.factorybean.MyFactoryBean"/>

    <bean id="person" class="com.demo.spring.bean.Person" init-method="init">
        <property name="name" value="${person.name}"/>
    </bean>
    <!---->
    <bean id="beanPostProcessor" class="com.demo.spring.beanpostprocessor.MyBeanPostProcessor"/>

    <bean id="beanFactoryPostProcessor" class="com.demo.spring.beanfactorypostprocessor.MyBeanFactoryPostProcessor"/>


</beans>
